

.hex-color-changer .react-colorful {
    width: 120px;
    height: 120px;
}
.hex-color-changer  .react-colorful__hue {
    height: 20px;
}

.main-container{
    position: fixed;
    z-index: 6;
    width: 100%;
}
.change-info-container{
    background-color: rgb(0 0 0 / 69%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 7;
}
.change-info-inputs-container{
    padding: 1rem 1rem;
    background: #fafafa;
    position: absolute;
    width: 88%;
    left: 5rem;
    top: 0rem;
    z-index: 8;
}
.first-profile{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}
.user-profile{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}
.company-main-logo{
    margin: -50px -160px 0 0px;
    width: 110px;
}
.custom-class-button-profile-page{
    margin-bottom: -5.625rem;
}