.box-test::after{
    padding: 1rem;
    background: red;
    width: 30rem;
    rotate: 30deg;
    margin: 0rem 0rem 0rem 0rem;
    border: 1px solid red;
    content: '';
    display: block;
}
.user-profile{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 3px solid #F45CB8;
    border-top-color: transparent;
    border-right-color: transparent;
}
.company-main-logo{
    margin: -50px -160px 0 0px;
    width: 110px;
}