.main-container{
    position: fixed;
    z-index: 6;
    margin: -2rem -1rem 0rem 25rem;
}

.box-test02::before{
    padding: 4rem 0;
    background: rgb(0, 0, 0);
    width: 150%;
    rotate: 30deg;
    position: relative;
    left: 23rem;
    border: 1px solid rgb(0, 0, 0);
    content: '';
    display: block;
}
.box-test::before{
    padding: 4rem 0;
    background: red;
    width: 150%;
    rotate: 30deg;
    position: relative;
    left: 24rem;
    border: 1px solid red;
    content: '';
    display: block;
}
.box-test::after{
    padding: 6rem 0;
    background: red;
    width: 150%;
    rotate: 30deg;
    position: relative;
    right: 63rem;
    border: 1px solid red;
    content: '';
    display: block;
}
.box-test02::after{
    padding: 6rem 0;
    background: rgb(0, 0, 0);
    width: 150%;
    rotate: 30deg;
    position: relative;
    right: 61rem;
    border: 1px solid rgb(0, 0, 0);
    content: '';
    display: block;
}
.box-test03::after{
    padding: 6rem 0;
    background: rgb(255, 0, 0);
    width: 150%;
    rotate: 30deg;
    position: relative;
    right: 59rem;
    border: 1px solid red;
    content: '';
    display: block;
}
.user-profile{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 3px solid #F45CB8;
    border-top-color: transparent;
    border-right-color: transparent;
}
.company-main-logo{
    margin: -50px -160px 0 0px;
    width: 110px;
}
.custom-class-button-profile-page{
    margin-bottom: -5.625rem;
}