/************CSS RESET**********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*********Utils***********/
.width-100-percent{
    width: 100%;
}
.gap-16{
    gap: 1rem;
}
.z-index-6{
    z-index: 6;
}
.over-flow-hidden{
    overflow: hidden;
}
.height-100vh{
    height: 100vh;
}
.margin-top-100{
    margin-top: 6.25rem;
}
.align-self-end{
    align-self: end;
}
.margin-right-155{
    margin-right: 9.6875rem;
}
.justify-center{
    justify-content: center;
}
.gap-155{
    gap: 9.6875rem;
}
.width-7-precent{
    width: 7%;
}
.border-radius-19{
    border-radius: 1.2rem;
}
.display-flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.items-end{
    align-items: flex-end;
}
.items-start{
    align-items: flex-start;
}
.flex-direction-col{
    flex-direction: column;
}
.padding-bot-32{
    padding-bottom: 2rem;
}
.padding-top-16{
    padding-top: 1rem;
}
.padd-8{
    padding: .5rem;
}
.padding-bot-16{
    padding-bottom: 1rem;
}
.border-bot-1px-black{
    border-bottom: 1px solid #000000;
}
/***TypoGraphi*****/
.font-size-22{
    font-size: 1.4rem;
}
.font-weight-400{
    font-weight: 400;
}
.font-size-32{
    font-size: 2rem;
}
.font-weight-bold{
    font-weight: bold;
}


/***************COMPONENTS***************/
.pink-button{
    background-color: #F45CB8;
    color: #fafafa;
    border-radius: .5rem;
    border: #ff0099 1px solid;
    transition: all .6s;
    padding: 0.7rem 2rem;
}
.pink-button:hover{
    color: #F45CB8;
    background-color: #be20a415;
}