/************CSS RESET**********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*********Utils***********/
.margin-top-155{
    margin-top: 9.6875rem;
}
.justify-center{
    justify-content: center;
}
.gap-155{
    gap: 9.6875rem;
}
.width-7-precent{
    width: 7%;
}
.border-radius-19{
    border-radius: 1.2rem;
}
.display-flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.flex-direction-col{
    flex-direction: column;
}